/******************FONTS**********************/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oswald');

//font-family: 'Oswald', sans-serif; 
//font-family: 'Noto Serif', serif;

/******************FONTS END**********************/

/***** SOME BASIC STYLES*************/
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


h1 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 
}

p,h2{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

ul{
    li{
        list-style-type: none;
    }
}


/***********SOME BASIC STYLES*************/

/********** NAVIGATION ************/
#navigation {
    z-index: 2;
    position: fixed;
    background: #F4F4F2;
    padding: 1em 0 1em 0;
    width: 100%;
    .showup {
        width: 6em;
        height: 6em;
        cursor: pointer;
        z-index: 3;
        position: relative;
        left: 50%;
        margin-left: -3em;
        top: 0;
        img {
            width: 6em;
            height: 6em;
        }
    }
    .bottom{
        padding: 0;
        margin: 0;   
    }
    ul{
        margin: 0;
        padding: 1em 0;
        position: relative;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 3em;
            a{
                text-transform: uppercase;
                font-size: 1.7em;
                color: black;
                font-weight: 800;
                transition: .3s ease;
                &:hover{
                    color: #F0A531;
                }
            }
            p{
                font-size: 1em;
            }
        }
    }
}


   .show {
        cursor: pointer;
        position: relative;
        display: inline;
        left: 50%;
        margin: 0 0 0 -3em;
        img {
            width: 6em;
            height: 6em;
        }
    }
/**********NAVIGATION END************/

/************************* GALLERY ************************/

.wrapper{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 10em;
    .title{
        text-decoration: underline;
        }
    }



/************************* GALLERY END ************************/