@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Oswald");

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


h1,h2{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
    //font-family: 'Oswald', sans-serif; 
}

p{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
    //font-family: 'Oswald', sans-serif; 
}


ul{
    margin: 0;
}

.wrapper{
    //background-image: url("../img/background/bg4.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



/*******************LINKS******************/

a{
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

ul li{
    list-style: none;
}


#navigation {
    z-index: 2;
    position: fixed;
    background: #F4F4F2;
    padding: 1em 0 1em 0;
    width: 100%;
    .showup {
        width: 6em;
        height: 6em;
        cursor: pointer;
        z-index: 3;
        position: relative;
        left: 50%;
        margin-left: -3em;
        top: 0;
        img {
            width: 6em;
            height: 6em;
        }
    }
    .bottom{
        padding: 0;
        margin: 0;   
    }
    ul{
        margin: 0;
        padding: 1em 0;
        position: relative;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 3em;
            a{
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                font-size: 1.7em;
                color: black;
                font-weight: 800;
                transition: .3s ease;
                &:hover{
                    color: #F0A531;
                }
            }
            p{
                font-size: 1em;
            }
        }
    }
}

/*******************LINKS END******************/

   .show {
        cursor: pointer;
        position: relative;
        display: inline;
        left: 50%;
        margin: 0 0 0 -3em;
        img {
            width: 6em;
            height: 6em;
        }
    }

/*********************WELCOME TEXT****************/

.welcomeH2{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20%;
    top: 30%;
    color: white;
    font-size: 3em;
    display: inline-block;
}

.welcomeH1{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 4em;
    top: 40%;
    right: 3%;
    display: inline;
}



/*********************WELCOME TEXT END****************/

/******************WHAT WE OFFER****************/


/*****************LOGO***********************/

.logo{
    padding: 0;
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translate(-50%, -50%);
    width: 6em;
    transition: 0.3s ease-out;
    opacity: 0.8;
    &:hover{
        opacity: 0.4;
    }

}



/*****************LOGO END***********************/


/*******************BUTTON***********************/

.button-about {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 180px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    font-family: 'Playfair Display', serif;
}


////////////////////////////
//button two
//////////////////////////
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(black, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: black;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


/*******************BUTTON END***********************/



/**********************SOCIAL***********************/

.social{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 90%;
    left: 5%;
    ul{
        position: relative;
        padding: 0;
        li{
            position: relative;
            font-size: 1.63em;
            display: inline-block;
            color: white;
            margin-left: 3em;
            border: 1px solid white;
            border-radius: 50%;
            padding: .4em;
            opacity: .3;
            transition: .4s ease;
            &:first-child{
                margin-left: 0;
                padding: .4em .8em .4em .8em;
            }
            &:nth-child(2){
                padding: .4em .6em .4em .6em;
            }
            a{
                color: white;
            }
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
            
            
        }
    }
}

/**********************SOCIAL END***********************/

/********************ZA MOBITELE*********************/

@media(max-width: 975px){
    
    .welcomeH2 {
        padding: 0;
        margin: 0;
        position: absolute;
        color: white;
        font-size: 3em;
        transition: .4s;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .welcomeH1 {
        margin: 0;
        width: 9em;
        position: absolute;
        color: white;
        font-size: 3em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline;
        transition: .4s;
    }

    
    #navigation{
        ul{
            li{
                font-size: 0.8em;
            }
        }
    }    
}

@media(max-width: 782px) {

    .welcomeH2{
        width: 100%;
        text-align: center;
        font-size: 3em;
    }
    .welcomeH1{
        font-size: 2em;
    }


    #navigation {
        width: 100vw;
        height: 100%;
        background: rgba(black, 0.7);

        img {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
        }

        ul {
            li {
                font-size: 1em;
                display: block;
                padding-top: 4em;
                color: white;

                &:nth-child(1) {
                    padding-top: 0;
                }

                a {
                    color: white;
                }
            }
        }
    }
}


/********************ZA MOBITELE KRAJ*********************/

